.container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    grid-template-areas:
       "head"
       "body"
}
.header{
    grid-area: head;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas:
       "exit info"
}
#exit{
    grid-area: exit;
    text-align: left;
    margin: 25px;
    width: 90px;
    height: 90px;
}
#info{
    grid-area: info;
    margin: 25px;
    cursor: pointer;
    margin-right: 25px;
    margin-left: auto;
    width: 90px;
    height: 90px;
}
.buttons{
    margin: 0 auto;
}
.buttons>*{
    cursor: pointer;
    margin: 30px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
}
.button{
    text-align: center;
    background-color: #1981c6;
    border-radius: 50px 50px;
    width: 90px;
    height: 90px;
}
#start, #retry{
    border: 5px solid #1981c6;
    border-radius: 50px 50px;
    height: 75px;
    background-color: #1981c6;
    visibility: hidden;
}
.way{
    width: 70%;
    font-size: 25px;
    margin: 0 auto;
    background-color: white;
    border-radius: 30px 30px;
    border: 5px solid #519dd0;
    text-align: center;
    margin-top: 30px;
    padding: 15px;
    visibility: hidden;
    height: auto;
    margin-left: 20%;
}

.body{
    grid-area: body;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto 100px auto;
    grid-template-areas:
       "exercise exercise"
       "in in"
       "table output"

}
.input{
    grid-area: in;     
    margin: 0 auto;
}
.input>*{
    display: inline-block;
}
#repeat{
    width: 70px;
    height: 70px;   
    margin-left: 30px;
    margin-bottom: -20px;
    cursor: pointer;
}
#in{
    background-color: white;
    border-radius: 35px 35px;
    border: none;
    padding: 20px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    font-size: 25px;
    margin-top: 50px;
}
table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    border-radius: 30px 30px;
}
th, td { 
    background-color: white;
    border: 1px solid #1981c6;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #519dd0;
    color: white;
}
#input {
    grid-area: table;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 50px;
}
.output{
    margin: 0 auto;
    grid-area: output;
    box-sizing: border-box;
    width: 800px;
    height: 400px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 10%;
}
#output, #canvas,#output-degree
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ball {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:#519dd0;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.degree{
    width: 44px;
    height: 44px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.checked, .ball:hover{
    background-color:#de8fbd;
}
.pass{
    background-color: #de8fbd;
}
#here{
    background-color: #b164de;
}
.exercise{
    grid-area: exercise;
    background-color: white;
    border-radius: 35px 35px;
    margin: 40px;
    padding: 20px;
    border: 15px solid #519dd0;
    width: 70%;
    height: auto;
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
}
#res{
    width: 35%;
    text-align: center;
    font-size: 40px;
    border: 15px solid #519dd0;
    border-radius: 35px 35px;
}
#res{
    transition: display 0.2s allow-discrete, overlay 0.2s allow-discrete;
  
    animation: close 0.3s forwards;
    &[open] {
      animation: open 0.3s forwards;
    }
}
  
  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes close {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
}
body:has(dialog[open]) {
    overflow: hidden;
}
#res::backdrop {
    background-color: rgb(0 0 0 / 35%);
}
#res>p{
    margin-top: -5px;
    height: auto;
}

#close{
    cursor: pointer;
    margin-left: 85%;
}
.table-input{
    border: none;
    width: 100%;
    font-size: 20px;
}

