table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
#input {
    width: 90%;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    font-size: 12px;
}
#conyainer{
    box-sizing: border-box;
    width: 800px;
    height: 400px;
    position: relative;
}
#output, #canvas
{
    position: absolute;
    width: 100%;
    height: 100%;
}
.ball {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: dashed 3px;
    background-color:darkseagreen;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}